.envrc filter=git-crypt diff=git-crypt
mini/tsdproxy/config/tsdproxy.yaml filter=git-crypt diff=git-crypt
msi/tsdproxy/config/tsdproxy.yaml filter=git-crypt diff=git-crypt
gti/tsdproxy/config/tsdproxy.yaml filter=git-crypt diff=git-crypt
rhms/tsdproxy/config/tsdproxy.yaml filter=git-crypt diff=git-crypt
rhms/n8n/searxng/settings*.yml filter=git-crypt diff=git-crypt
gti/openwebui/searxng/settings.yml* filter=git-crypt diff=git-crypt
gti/azuracast/.env filter=git-crypt diff=git-crypt
gti/azuracast/azuracast.env filter=git-crypt diff=git-crypt
gti/openwebui/searxng/settings.yml* filter=git-crypt diff=git-crypt
gti/searxng/config/settings.yml filter=git-crypt diff=git-crypt
rhms/dify/.env* filter=git-crypt diff=git-crypt
rhms/n8n/.env* filter=git-crypt diff=git-crypt
gti/glance/config/home.yml filter=git-crypt diff=git-crypt
next/supabase/.env* filter=git-crypt diff=git-crypt
mini/immich/config/Settings.json filter=git-crypt diff=git-crypt
