[submodule "mini/mermaid-editor/mermaid-live-editor"]
	path = mini/mermaid/mermaid-live-editor
	url = https://github.com/mermaid-js/mermaid-live-editor.git
[submodule "mini/transmission/nordvpn"]
	path = mini/transmission/nordvpn
	url = https://github.com/bubuntux/nordvpn
